
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 50%;

}


body {background-color: black;
      color: white;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}